$text-color: mix(#1A2842, #fff, 40%);
$title-color: mix(#1A2842, #fff, 20%);

$BG-COLOR: #17243C;

body {
  background-color: $BG-COLOR;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: arial, '微软雅黑';
}

* { box-sizing: border-box; }

.tile {
  background-color: rgba(white, 0.1);
  position: absolute;
}
.tile:nth-child(even) {
  background-color: rgba(white, 0.2);
}