$text-color: mix(#1A2842, #fff, 40%);
$title-color: mix(#1A2842, #fff, 20%);

body {
  background-color: #17243C;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: arial, '微软雅黑';
}

* {
  box-sizing: border-box;
}

$w: 1920px;
$h: 1080px;

body .paper {
  // background-color: rgba(0, 0, 0, 0.1);
  width: $w;
  height: $h;
  position: absolute;
  top:0;left:0;
  // transform: translateY(-360px) translateX(0);
}

.g {
  position: absolute;

  g.title {
    rect {
      fill: rgba(black, 0.1);
    }
    text {
      fill: $title-color;
      font-size: 16px;
      font-family: arial, '微软雅黑';
      font-weight: bold;
    }
  }

  &.debug svg {
    background-color: rgba(white, 0.1);
  }

  g.axis {
    path {
      stroke: $text-color;
    }

    .tick line {
      stroke: $text-color;
    }
    .tick text {
      fill: $text-color;
      font-size: 16px;
      font-family: arial, '微软雅黑';
    }
  }

  path.pre-line {
    // stroke: rgba(#FF7C41, 1);
    stroke: rgba(#41FF85, 1);
    fill: transparent;
    stroke-width: 4;
  }
}

// @keyframes maprotate {
//   0% {
//     transform: rotateX(30deg) rotateY(0) rotateZ(30deg);
//   }
//   20% {
//     transform: rotateX(30deg) rotateY(0) rotateZ(0);
//   }
//   50% {
//     transform: rotateX(30deg) rotateY(0) rotateZ(-30deg);
//   }
//   75% {
//     transform: rotateX(30deg) rotateY(0) rotateZ(0);
//   }
//   100% {
//     transform: rotateX(30deg) rotateY(0) rotateZ(30deg);
//   }
// }

.china-map {
  position: absolute;
  left: 0;
  top: 0;
  // transform: rotateX(0) rotateY(0) rotateZ(45deg);
  // animation: maprotate 15s linear infinite;
  // transform-origin: 50% 100%;
}