$text-color: mix(#1A2842, #fff, 40%);
$title-color: mix(#1A2842, #fff, 20%);

body {
  background-color: #1A2842;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: arial, '微软雅黑';
}

* {
  box-sizing: border-box;
}

$w: 1920px;
$h: 1080px;

body .paper {
  background-color: rgba(0, 0, 0, 0.1);
  width: $w;
  height: $h;
  position: absolute;
  top:0;left:0;
  // transform: translateY(-360px) translateX(0);
}

.g {
  position: absolute;

  // text {
  //   fill: 'white'
  // }

  g.axis {
    path {
      stroke: $text-color;
    }

    .tick line {
      stroke: $text-color;
    }
    .tick text {
      fill: $text-color;
      font-size: 16px;
      font-family: arial, '微软雅黑';
      // transform: rotate(90deg) translateX(24px) translateY(-13px);
    }
  }

  g.title {
    text {
      fill: $title-color;
      font-size: 16px;
      font-family: arial, '微软雅黑';
      font-weight: bold;
    }
  }
}

@keyframes maprotate {
  0% {
    transform: rotateX(30deg) rotateY(0) rotateZ(30deg);
  }
  20% {
    transform: rotateX(30deg) rotateY(0) rotateZ(0);
  }
  50% {
    transform: rotateX(30deg) rotateY(0) rotateZ(-30deg);
  }
  75% {
    transform: rotateX(30deg) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(30deg) rotateY(0) rotateZ(30deg);
  }
}

.china-map {
  position: absolute;
  left: 0;
  top: 0;
  // transform: rotateX(0) rotateY(0) rotateZ(45deg);
  // animation: maprotate 15s linear infinite;
  // transform-origin: 50% 100%;
}

$pie-width: $w / 16 * 4;

.g11, .g12, .g13 {
  height: 240px;
  width: 240px;
  left: 1200px + 480px;
}

.g11 {top: 0;}
.g12 {top: 240px;}
.g13 {top: 480px;}

.g3 {
  top: $h / 3 * 2;
  height: $h / 3;
  left:0;
  width: $pie-width * 2;
}

.g5, .g6 {
  height: $h / 3;
  // left: $pie-width * 3; 
  left: 0;
}

.g5 {
  top: 0; 
  width: $pie-width;
}

.g6 {
  top: $h / 3;
  width: $pie-width;
}

.g7 {
  top: $h / 3 * 2;
  left: $pie-width * 2; 
  width: $w - $pie-width * 2;
  height: $h / 3;
}

.g8 {
  left:$pie-width;
  width:1200px;
  height:720px;
}